@tailwind base;

@layer base {
  img {
    @apply inline-block;
  }
}

@tailwind components;
@tailwind utilities;

/* global.css */
:root {
  --background: 210, 50%, 96%;
  /* Light mode background color */
  --foreground: 210, 50%, 10%;
  --border: 210, 50%, 80%;
  --input: 210, 50%, 90%;
  --ring: 210, 50%, 70%;
  --primary: 220, 70%, 50%;
  --primary-foreground: 220, 70%, 90%;
  --secondary: 330, 70%, 50%;
  --secondary-foreground: 330, 70%, 90%;
  --destructive: 0, 70%, 50%;
  --destructive-foreground: 0, 70%, 90%;
  --muted: 210, 20%, 80%;
  --muted-foreground: 210, 20%, 30%;
  --accent: 170, 70%, 50%;
  --accent-foreground: 170, 70%, 90%;
  --popover: 210, 30%, 95%;
  --popover-foreground: 210, 30%, 10%;
  --card: 210, 30%, 98%;
  --card-foreground: 210, 30%, 10%;
}

.dark {
  --background: 210, 50%, 20%;
  /* Dark mode background color */
  --foreground: 210, 50%, 80%;
  --border: 210, 50%, 40%;
  --input: 210, 50%, 30%;
  --ring: 210, 50%, 50%;
  --primary: 220, 70%, 60%;
  --primary-foreground: 220, 70%, 10%;
  --secondary: 330, 70%, 60%;
  --secondary-foreground: 330, 70%, 10%;
  --destructive: 0, 70%, 60%;
  --destructive-foreground: 0, 70%, 10%;
  --muted: 210, 20%, 40%;
  --muted-foreground: 210, 20%, 70%;
  --accent: 170, 70%, 60%;
  --accent-foreground: 170, 70%, 10%;
  --popover: 210, 30%, 20%;
  --popover-foreground: 210, 30%, 80%;
  --card: 210, 30%, 15%;
  --card-foreground: 210, 30%, 80%;
}

.loading {
  display: inline-flex;
  align-items: center;
}

.loading .spacer {
  margin-right: 2px;
}

.loading span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 1px;
}

.loading span:nth-of-type(2) {
  animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}